/* global */

#body {
    margin-top: 65px;
}

*[class^='xdebug-'] {
    position: relative;
    z-index: 9999;
}

.w70  { width: 70px; }
.w80  { width: 80px; }
.w90  { width: 90px; }
.w100 { width: 100px; }

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.indent {
    width: 10px;
    display: inline-block;
}

/* navbar */

#navbar, .navbar {
    height: 50px;
    margin: 0;
}

.navbar-header {
    float: left !important;
}

.navbar-brand sup {
    font-size: 0.5em;
}

.navbar-right {
    float: right !important;
    margin: 0 -15px 0 0 !important;
}

.navbar-right li {
    float: left !important;
}

.navbar-right li a {
    padding: 15px !important;
}

/* modals (http://www.bootply.com/s6x5oKLiDG) */

.modal-title {
    min-height: 30px;
    line-height: 30px;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* input group */

.input-group-btn:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}

/* form group */

.form-group:last-child {
    margin-bottom: 0;
}

/* button file */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* boards */

#boards li {
    line-height: 30px;
}

#boards .tooltip-inner {
    max-width: 350px;
    text-align: left;
}

/* board */

#board a.dropdown-toggle {
    text-decoration: none;
}

#board .dropdown-menu {
    padding: 0;
}

#board .dropdown-menu li a {
    padding: 10px;
}

#board .dropdown-menu li.divider {
    margin: 0;
}

#board .dropdown-menu li.divider:last-child {
    display: none;
}

#board .name.truncate {
    vertical-align: top;
    display: inline-block;
    max-width: calc(100% - 190px);
}

#board .tab-content {
    margin-top: 10px;
}

#board .list-group .label {
    padding: 5px;
}

/* board: files */

#board-files-pane h3 {
    margin-top: 0;
}

#board .files-tree.list-group {
    overflow-y: auto;
    max-height: 250px;
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#board .files-tree.list-group .list-group-item {
    border-left: 0;
    border-right: 0;
}

#board .files-tree.list-group .list-group-item.active {
    border-color: #eee;
}

#board .files-tree.list-group .list-group-item:first-child {
    border-top: 0;
}

#board .files-tree.list-group .list-group-item:last-child {
    border-bottom: 0;
}

/* upload */

#board-files-upload-modal .filename.truncate {
    vertical-align: top;
    display: inline-block;
    max-width: calc(100% - 130px);
}

#board-files-upload-modal .progress {
    margin-top: 10px;
    margin-bottom: 0;
}
